.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  /* width: 40%; */
}

.App-header {
  background-color: #FFF;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}


/* App.css */

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Login input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.Login label {
  margin: 10px;
  font-size: 16px;
}

.Login button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
